@*@model IEnumerable<MvcBookStore.Models.SACH>*@
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>SÁCH THEO CHỦ ĐỀ</h2>
@{
    int dem = 0;
}
@foreach (var sach in Model)
{
    dem++;
    <div class="templatemo_product_box">
        <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
            <h1>@sach.Tensach</h1>
            <img src="~/Images/@sach.Hinhminhhoa" atl="@sach.Tensach" width="103" />
        </a>
        <div class="product_info">
            <center>
                <h3>★★★★★</h3>
                <h4>15 Reviews</h4>
                <div class="buy_now_button"><a href="subpage.html">Mua ngay</a></div>
                <div class="detail_button"><a href="subpage.html">Chi tiết</a></div>
            </center>
        </div>
    </div>
    <div class="cleaner_with_width">&nbsp;</div>
    if (dem % 2 == 0)
    {
        <div class="cleaner">&nbsp;</div>
        <div class="cleaner">&nbsp;</div>
    }
}
