<a href="@Url.Action("Giohang","Giohang")"><img src="~/images/giohang.png" class="current"/> <font style="font-size: 12px; font-weight: bold; text-align: center; text-decoration: none; color: #fcf88e"> Giỏ hàng (@ViewBag.Tongsoluong)</font></a>

