
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="templatemo_container">
        <p><br /></p>
        <h2>ĐÂY LÀ TRANG CHỦ ADMIN</h2>
        <p><br /></p>
</div>