
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>Đăng nhập hệ thống quản trị</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="PremiumPixels.com">
    <meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
    <link href="~/Content/structure.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
</head>

<body>
    <div class="box login">
        @using (Html.BeginForm())
        { @Html.ValidationSummary(true)
            <h3 style="font-size:large; color:black; align-content:center; padding:10px;">ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ</h3><h3 style="align-content:center; padding:10px;">Vui lòng nhập username và password:</h3>
            <h3 style="font-size:medium; color:red; align-content:center; padding:10px;">@ViewBag.Thongbao</h3>
            <fieldset class="boxBody">
                <label>Username</label>
                <input type="text" name="username" tabindex="1">
                <h4 style="color:red">@ViewData["Loi1"]</h4>
                <label><a href="#" class="rLink" tabindex="5">Forget your password?</a>Password</label>
                <input type="password" name="password" tabindex="2">
                <h4 style="color:red">@ViewData["Loi2"]</h4>
            </fieldset>
            <footer>
                <label><input type="checkbox" tabindex="3">Keep me logged in</label>
                <input type="submit" class="btnLogin" value="Login" tabindex="4">
            </footer>
        }
    </div>
</body>
</html>
